page-read {
    h1 {
        color: $primary !important;
        font-size: 1.3em;
        text-align:center;
        padding:8px;
    }
    span.highlight {
        background-color:$font-light !important;
    }
    ol {
        padding:25px;
        li {
            color: $primary;
            font-size:0.8em !important;
            padding:0px !important;
            div {
                font-size:1.3em !important;
                color: $font-dark;
                padding-bottom:8px;
            }
        }
    }
}
