page-quote {
    h1 {
        color: $primary !important;
        font-size: 1.6em !important;
        text-align:right;
        padding:0 0 15px 0;
    }
    p {
        font-size: 1.3em !important;
    }
}
